swap*
__pycache__
a.out
*.o
*.so
build/
tmp
env*/
venv*/
pyenv*/
*dump
*cache
dist
*.egg-info/
*.bin
m4
*log
Makefile
aclocal.m4
compile
config.guess
config.status
config.sub
depcomp
libtool
ltmain.sh
Makefile.in
missing